{% extends 'base.html' %}
{% load static %}

  {% block content %}
      {% load plotly_dash %}

      <!-- Greeting Card -->
      <div class="mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Good morning {{ request.user.first_name }}</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">It is {% now "P" %} on {% now "l" %} the {% now "jS \o\f F" %}.</div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Dropdown Card - Time Worked Per Day -->
      <div class="card shadow mb-4 m-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Time Worked Per Day</h6>
          <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Timeular API:</div>
              <a class="dropdown-item" href="#">Refresh data</a>
              <a class="dropdown-item" href="#">View raw data</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Screenshot chart</a>
          </div>
          </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">

          <div class="{% plotly_class name='SimpleExample'%} card">
              {% plotly_app name='SimpleExample' ratio=0.6 %}
          </div>
      </div>
    </div>

  <br>

  {% endblock %}