{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <div class="card shadow mb-4">
    
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">{{ user.first_name }}'s User Profile</h6>
    </div>
    
    <div class="card-body">
      <div class='content-section row'>

        <div class='col-auto px-5'>
        <div class='media'>
          <img class='rounded-circle account-img' width=250px height=250px src="{{ user.profile.image.url }}">
        </div>
        </div>

        <div class='col-auto'>
          <div class='media-body'>
            <h4>First Name: {{ user.first_name }}</h2>
            <br>
            <h4>Last Name: {{ user.last_name }}</h2>
            <br>
            <h4>Username: {{ user.username }}</h2>
            <br>
            <h4>Email: {{ user.email }}</h2>
          </div>
        </div>

      </div>
    </div>
  {% endblock %}